/* Global Styles */
* {
    font-family: 'Roboto', sans-serif;

    padding: 0;
}

button {
    all: unset;

    background-color: black;

    font-size: 12px;
    color: white;

    border-radius: 6px;
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 12px 0 12px 0;

}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}



h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.button{
    background-color: black;

    font-size: 12px;
    color: white;

    border-radius: 6px;
    display: flex;
    justify-content: center;

    cursor: pointer;
}

.button:active {
    background-color: grey;
}



/* Navbar Styles */
.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
}

.nav-items {
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.nav-item:hover {
    color: grey;
}

/* Hero Section */
#hero {
    height: 500px;

    display: flex;
    align-items: center;

    margin-bottom: 100px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    min-width: 200px;
    max-width: 40%;
    font-weight: 200;
}

.hero-image-section {
    min-width: 300px;
    width: 50%;
    display: flex;
    flex-direction: row;

    position: relative;
}

/* Media query to change hero to column */

.hero-image{
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 30px;

    cursor: pointer;
    transition: all 0.5s;
}

#hero-image-1{
    margin: -170px 0 0 -80px;

    rotate: 5deg;
}

#hero-image-2{
    margin: -120px 0 0 -200px;

    rotate: -10deg;
}

#hero-image-3{
    margin: -150px 0 0 -120px;
}

.hero-image:hover{
    scale: 1.02;
    transition: all 0.5s;
}

.hero-image:active{
    transform: translate(10px, 5px);
    opacity: 0.5;
    transition: all 0.3s;
}

/* Bio Section */
#bio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.bio-text{
    display: flex;
    padding-left: 100px;
    padding-right: 50px;
    font-weight: 200;
    min-width: 250px;
    max-width: 700px;
}

.bio-tags-container {
    padding-right: 100px;
    padding-left: 50px;
    flex-wrap: wrap;

}

.bio-tags {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    max-width: 500px;
}

.bio-tag {
    border: solid rgb(202, 202, 202) 1px;
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    transition: all 0.25s;
    margin: 4px;
}

.bio-tag:hover {
    cursor: default;
    transition: all 0.5s;
    color: white;
    background-color: black;
    border:solid black 1px;
    transition: all 0.25s;
}

/* Portfolio Section */
#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: 100px;
    margin-bottom: 100px;
}

.portfolio-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 400px;;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .5s;
    
}
.portfolio-image img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.portfolio-card:hover{
    scale: 1.02;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.674) 0px 5px 15px;
    /* padding-inline: 50px; */
    transition: all .5s;
}

.card-link {
    z-index: 2;
    margin-top: 10px;
}

.portfolio-tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
}

.portfolio-tag {
    border: solid 1px;
    font-size: 10px;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
}

.portfolio-tag:hover {
    border: solid 1px;
    color: white;
    background-color: black;
    cursor: default;
}

.portfolio-title {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 0;
    margin-top: 0;
}

.portfolio-descr {
    font-weight: 200;
    /* flex-grow: 1; */

    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-expand{
    margin: 15px;
    font-size: 10px;
    align-self: center;
    width: 40px;
    border-radius: 10px;
    transition: all 0.2s;
    padding: 5px;
    background-color: rgb(221, 221, 221);
    color: black;
}

.portfolio-expand:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s;
}

.portfolio-gap{
    flex-grow: 1;
}

.empty-button {
    color: rgb(42, 150, 56);
    font-weight: bold;
    background-color: white;
    border: solid rgb(42, 150, 56) 1px;
}

/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}


.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.skill-col{
    width: 150px;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    list-style: none;
}

/* contact */

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.cv-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 250px;
}

.cv-button {
    min-width: 300px;
    width: 50%;
}


.cta-linkedin,.cta-github,.cta-email{
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 150px;
}



/* Footer */
footer{
    padding: 30px;
    background-color: black;
    margin: -10px;
    color: white;

    display: flex;
    height: auto;
    column-gap: 50px;
}

footer a {
    color: white;
}

.footer-nav-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.footer-nav-links {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 5px;
}

.footer-contact-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer-contact-links{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 5px;
}

/* media queries here to only display icons with links */
